[Unit]
Description=Weather app
After=network.target
Requires=caddy.service
After=caddy.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/home/app/app
User=app
ExecStart=/home/app/app/prod.sh
ExecStop=/home/app/app/prod.sh stop

[Install]
WantedBy=multi-user.target
